* { margin: 0; padding: 0; }

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    width: fit-content;
    border-collapse: collapse;
}

.play-tile{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 0.5px;

}

